.login-panel
{
    margin-top: 55%;
}
.bgroundsize
{
    width: 100%;
    height: 100%;
}
.bground
{
    background:white  no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    position: absolute;
    display: block;
    outline: none;
    border: 0;
    opacity: 0.9;
}
.login_list
{
    position: fixed;
    bottom: 60%;
    width: 100%;
    text-align: center;
    color: black;
    height: 150px;
    line-height: 60px;
}
.register_list
{
    position: fixed;
    bottom: 70%;
    width: 100%;
    text-align: center;
    color: black;
    height: 150px;
    line-height: 60px;
}
.login_mian
{
    width: 25%;
    background: white;
    margin: 0 auto;
    height: auto;
    padding: 20px;
}
.order
{
    bottom: 0;
    text-align: center;
    color: black;
    height: 60px;
    line-height: 60px;
}
.order .line
{
    display: inline-block;
    width: 25%;
    border-top: 1px solid #ccc;
}
.order .txt {
    color: #686868;
    vertical-align: middle;
    vertical-align: -8%;
}
input,input:focus{

    border: none;

    box-shadow: none !important;

}
